@font-face {
    font-family: Ubuntu; 
    src: url(content/Ubuntu.ttf); 
}
body {
    margin: 0;
    font-family: Ubuntu, sans-serif;
}
.wrapper {
    background-image: url(content/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #0000007f;
}
.logo {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
}
.logo:hover {
    color: #3CB878;
}
.nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav__item {
    color: #ffffff;
}
.nav__item_splitter {
    width: 1px;
    height: 19px;
    background-color: #ffffff80;
}
.nav__item > a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    transition: .3s;
}
.icon-path {
    transition: .3s;
}
.nav__item > a:hover {
    color: #01813F;
}
.nav__icon-link:hover .icon-path { 
    fill: #01813F;
}

main {
    position: relative;
    height: 710px;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
    padding: 30px 60px 40px;
    background-color: #ffffff;
    box-sizing: border-box;
}
.modal::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
} 
.modal__title {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    color: #434343;
}
.modal__link {
    float: right;
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
    transition: .3s;
}
.modal__link:hover {
    text-decoration: underline;
    color: #01813F;
}
.modal__social-buttons {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
}
.modal__social-button {
    border: none;
    outline: none;
    padding: 12px 23px 12px 15px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 3px;
    transition: .5s;
    box-sizing: border-box;
}
.modal__social-button_facebook {
    background-color: #305DB8;
}
.modal__social-button_google {
    padding-left: 12px;
    background-color: #DF4A32;
}
.modal__social-button  > img {
    display: inline-block;
    vertical-align: middle;
}
.modal__social-button  > span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 38px;
}
.modal__social-button  > span::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -18px;
    width: 1px;
    height: 28px;
    opacity: 0.1;
}
.modal__social-button_facebook  > span::before {
    background-color: #0A162F;
}
.modal__social-button_google  > span::before {
    background-color: #2B0D09;
}
.modal__social-button_facebook:hover {
    background-color: #022263;
}
.modal__social-button_google:hover {
    background-color: #AB1F09;
}
.splitter {
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: #848484;
    font-size: 14px;
}
.splitter::before,
.splitter::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45%;
    height: 1px;
    background-color: #f2f2f2;
}
.splitter::before {
    left: 0;
}
.splitter::after {
    right: 0;
}
.modal__input {
    margin-top: 15px;
    width: 100%;
    display: block;
    padding: 16px 20px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    color: #434343;
    background-color: #ffffff;
    box-sizing: border-box;
    transition: .3s;
}
.modal__input_mt0 {
    margin-top: 0;
}
.modal__input:focus,
.modal__input:hover {
    border-color: transparent;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.modal__input::-moz-placeholder {
    color: #bebebe;
}
.modal__input::-webkit-input-placeholder {
    color: #bebebe;
}
.modal__checkbox {
    margin-top: 12px; 
    display: block;
}
.modal__checkbox__input {
    margin-top: -1px;
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.modal__checkbox__mark {
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
}
.modal__checkbox__mark__path {
    stroke: transparent;
    transition: .3s;
}
.modal__checkbox__input:checked ~ .modal__checkbox__mark > .modal__checkbox__mark__path {
    stroke: #3CB878;
}
.modal__checkbox__input:checked ~ .modal__checkbox__mark > .modal__checkbox__mark__path:hover {
    stroke: #01813F;
}
.modal__checkbox__text {
    vertical-align: middle;
    color: #434343;
    font-size: 14px;
}
.modal__checkbox__link {
    color: #3cb878;
    text-decoration: none;
    transition: .3s;
}
.modal__checkbox__link:hover {
    color: #01813f;
    text-decoration: underline;
}
.modal__button {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background-color: #3cb878cc;
    transition: .3s;
}
.modal__button:focus {
    box-shadow: 0 0 10px #014c25;
}
.modal__button:hover {
    background-color: #01813f;  
}
