* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.header-menu li a{
text-transform: uppercase;
color: #ff0000;
text-decoration: none;
padding: 0 50px; 
margin: 12px;
font-size: 20px;
}

img {
    width: 100%;
}

section{
    width: 1145px;
    margin: 50px auto 80px;
    text-align: center;
}

.title {
   text-transform: uppercase;
   letter-spacing: 3.3px;
   /* font-weight: bold; */
   /* text-align: center; */
   font-size: 22px;
   padding-bottom: 20px;
}

.btn {
    padding: 18px 42px;
border-style:solid;
border-width:1px;
background: red;
color: white;
text-transform: uppercase;
letter-spacing: 1.8px;
border: none;
border-radius: 5px;
margin-top: 65px;



}

.text,
.text-main {
    /* width: auto; 
    height: auto; */
 letter-spacing: 2.4px;
    line-height: 26px;
}

.text-main {
    margin-bottom: 30px;
}

.header-menu{
    text-align: center;
} 

.header {
    list-style-type: none;
    margin: 25px 0;
    
}

.header-menu li {
    display: inline-block;
}


.footer {
   width: 1145px;
   margin: 0 auto;
   text-align: right;
}