a {
    text-decoration: none;
    color: inherit;
}
ul, p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
main {
    margin-top: 50px;
    display: flex;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    background-color: #fff;
}
.logo {
    font-size: 80px;
    color: #000000;
}
.logo__color  {
    color: #87cefa;
}
.menu {
    margin-top: 38px;
}
.menu > ul {
    display: flex;
    justify-content: center;    
    background-color: #35444F;
}
.menu__item {
    position: relative;
    font-size: 24px;
    color: #ffffff;
}
.menu__item > a {
    display: block;
    padding: 24px 35px 20px;
    transition: .3s;
}
.menu__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #ffffff;
}
.menu__item > a:hover {
    background-color: #222f3a;
}
.side-bar {
    align-self: flex-start;
    width: 30%;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;   
}
.side-bar_inner a {
    padding-left: 64px;
}
.side-bar__item > a {
    display: block;
    font-size: 27px;
    color: #485863;
    padding: 25px 44px;
    transition: .3s;
}
.side-bar__item > a:hover {
    color: #000000;
    background-color: #DBDBDB;
}
.content {
    margin-left: 5%;
    width: 70%;
}
.content__image {
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
    border: 1px solid #DBDBDB;
}
.content__image > img {
    margin: auto;
}
.content__text {
    margin-top: 35px;
    font-size: 18px;
}
.footer-menu {
    margin-top: 55px;
}
.footer-menu > ul {
    display: flex;
    justify-content: space-around;    
    align-items:center;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
}
.footer-menu__item {
    font-size: 28px;  
}
.footer-menu__item_copyrightC {
    font-size: 24px;
}
.footer-menu__item > a {
    position: relative;
    transition: .5s;
}
.footer-menu__item > a::before,
.footer-menu__item > a::after {
    content: '';
    position: absolute;
    top: 110%;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #3181A6;
    transition: .5s;
}
.footer-menu__item > a:hover {
    color: #3181A6;
}
.footer-menu__item > a:hover::before {
    left: -5%;
    width: 55%;
}
.footer-menu__item > a:hover::after {
    width: 55%;
}