body {
    margin: 0;
}
a { 
    text-decoration: none;
}
.wrapper {
    font-family:'Roboto', sans-serif;
    background-image:url('./Images/background_1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 1028px;
    height: 61px;
    background-color: transparent;
    padding-top: 50px;
}
.logo {
    display: flex;
    align-items: flex-start;
}
.logo__image {
    width: 53px;
    height: 47px;
    background-image: url(images/logo-white.png);
    background-position: center;
    background-size: cover;
}
.logo__text {
    margin-left: 7px;
}
.logo__text > h2 {
    margin: 0;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.logo__text > .logo__text_small {
    margin-top: -4px;
    font-size: 18px;
}
.logo:hover > .logo__image {
    background-image: url(images/logo-orange.png);
} 
.logo:hover > .logo__text > h2 {
    color: #F26522;
}
.tours {
    margin: 20px auto 50px;
    width: 1028px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    grid-gap: 60px 40px;
}
.card {
    position: relative;
    height: 280px;
    overflow: hidden;
}
.card > img {
    width: 100%;
    height: auto;
}
.card__title {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    transition: .3s;
}
.card__billet {
    position: absolute;
    bottom: -100px;
    width: 100%;
    padding: 7px 18px 12px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    background-color: #F26522;
    box-sizing: border-box;
    transition: .5s;
}
.card__billet > p {
    margin: 0;  
    width: 100%;
}
.card__billet > p:first-child {
    font-size: 10px;
}
.card__billet > p:last-child { 
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.card__price {
    font-size: 20px;
}
.card__details {
    position: relative;
    font-size: 14px;
}
.card__details::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    width: 5px;
    height: 10px;
    transform: translateY( -50% );
    background-image: url(images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.card:hover > .card__title {
    color: #F26522;
}
.card:hover > .card__billet {
    bottom: 40px;
}
footer {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 15px;
    text-align: center;
}
h5 {
    font-weight: normal;
}
.contacts > a {
    display: block;
    font-size: 18px;
    transition: .3s;
    text-align: right;
    color: #fff;
}
.contacts > a:first-child {
    margin-bottom: 20px;
}
.contacts > a:hover {
    color: #F26522;
}