body, ul, h2 {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    /* height: 10000px;  */
}
ul {
    list-style: none;
} 
a {
    text-decoration: none;
    text-transform: uppercase;
}
.title {
    font-size: 27px;
    font-weight: 700px;
    color: #ffffff;
}
.title-blue {
    text-align: center;
    color: #18b4cf;
    padding-top: 50px;
    margin-bottom: 50px;
}