#footer {
    margin-top: 80px;
    background-color: #000000;
}
.footer__content {
    margin: auto;
    max-width: 1170px;
    width: 90%;
    height: 80px;
    display: grid;
    grid-template-columns: 512px 107px;
    align-items: center;
    justify-content: space-between;
}
.footer__content > p {
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
}
.footer__logo {
    width: 107px;
}
.footer__logo > img {
    vertical-align: top;
}