#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}
.logo {
    margin-left: 30px;
}
.logo > span {
    font-weight: 700;
    font-size: 22px;
    padding-left: 25px;
    color: #ffffff;  
}
.menu {
    display: flex;
    justify-content: space-between;
}
.menu__item {
    margin-left: 35px;
}
.menu__item:first-child {
    margin-left: 0;
} 
.menu__item > a {
    color: #ffffff;
    transition: .3s;
}
.menu__item > a:hover {
    color: #14B9D5;
}
.search {
    width: 70px;
    height: 70px;
    background-color: #000000;
    line-height: 70px;
    text-align: center;
}
