.hot-news__posts {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    grid-gap: 45px 60px;
    max-width: 1170px;
    width: 90%;
}
.hot-news__posts > article {
    background-color: #F9F7F7;
}
.hot-news__post_small {
    text-align: center;
}
.hot-news__post_small_first {
    grid-column: 4 / -1;
}
.hot-news__post_small_last {
    grid-column: 1 / 2;
}
.hot-news__post_middle {
    text-align: right;
}
.hot-news__post_middle_left {
    grid-column: 1 / 3;
}
.hot-news__post_middle_right {
    grid-column: 3 / -1;
}
.hot-news__post_middle > p {
    /* width: 100%; */
}
.hot-news__post_big {
    text-align: right;
}
.hot-news__post_big > img {
    float: left;
}
.hot-news__post_big > p {
    /* width: 100%; */
}  
.hot-news__post_big_first {
    grid-column: 1 / 4;
}
.hot-news__post_big_last {
    grid-column: 2 / -1;
}