.latest-news {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-image: url('../Images/Main Images/header.jpeg');
    background-size: 110% auto; 
    color: #ffffff; 
    font-weight: 700;
    font-size: 27px;
    height: 370px;
    background-position: center -400px;
    background-attachment: scroll;    
}
.latest-news__content {
    margin: auto;
    text-align: center;    
}
.latest-news__title {
    margin-bottom: 45px;
}
.latest-news__btn  {
    background-color: #89CA62;
    padding: 15px 20px;
    border-radius: 1mm;
    color: #ffffff; 
    font-weight: 600;
    font-size: 18px;
    border-style: none;
    transition: .3s;
}
.latest-news__btn_art {
    margin-left: 20px;
    background-color:#14B9D5;
}
.latest-news__btn:hover  {
    background-color: #63ac39;
}
.latest-news__btn_art:hover  {
    background-color:#0e8195;
}