.mp-clients {
    margin-top: 74px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url('../Images/Main Images/parallax-bg.jpeg');
    background-size: 110% auto; 
    color: #ffffff; 
    font-weight: 700;
    font-size: 27px;
    height: 588px;
    background-position: 30% -70px;
    background-attachment: fixed;
}
.mp-clients__content {  
}
.mp-clients-title {
    margin-bottom: 150px;
    position: relative;
    text-align: center;
} 
.mp-clients-title::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -90px;
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
}
.mp-clients__logos {
    display: grid;
    grid-template-columns: 1fr 0.7fr 1fr 1fr;
    grid-column-gap: 30px;
    justify-content: center;
    align-items: center;
}
.mp-clients__logos > img:nth-child(1),
.mp-clients__logos > img:nth-child(2) {
    justify-self: end;
}