.posts {
    background-color: #f2f2f2;
}
.posts__gallery {
    margin: 30px auto 0;
    display: flex;
    flex-flow: column wrap;
    max-width: 1170px;
    width: 100%;
    height: calc(775px + 70px) ;

}
.posts__card {
    width: 370px;
    text-align: center;
    background-color: #ffffff;
}
.posts__card_bottom {
    margin-top: 30px;
}
