body {
    font-family: 'Montserrat', sans-serif;
}
body, ul, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
    width: 100%;
}