.comments {
    padding-top: 90px;
    padding-bottom: 100px;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/comments-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.comments__title {
    font-weight: 400;
    position: relative;
    font-size: 35px;
    color: #ffffff;
    text-transform: capitalize;
}
.comments__title::before,
.comments__title::after {
    content: '';
    position: absolute;
    bottom: -24px;
    left: 49%;
    transform: translateX(-50%);
    width: 80px;
    height: 1px;
    background-color: #18CFAB;
}
.comments__title::after {
    bottom: -28px;
    left: 50%;
}
.comments__icon {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50px;
    height: auto;
}
.comments__gallery {
    margin-top: 70px;
}
.comments__gallery__content {
    position: relative;
    margin-top: 35px;
    height: 335px;
}
.comments__card {
    position: absolute; 
    top: 0;
    left: 0;
    text-align: center;
    transform: translate(-50% -50%) scale(0);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}
.comments__card.active {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    pointer-events: all;
}
.comments__card__text {
    font-size: 16px;
    color: #bbbbbb;
}
.comments__card__title {
    margin-top: 35px;
    font-size: 16px;
    font-weight: 700;
    color: #18CFAB;
    text-transform: uppercase;
}
.comments__card__sub-title {
    margin-top: 15px;
    font-size: 13px;
    color: #bbbbbb;
}
.comments__card__box-image {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: 15px solid #1fdab533;
    overflow: hidden;
}
.comments__card__box-image__image {
    width: 100%;
    height: 100%;
}
.comments__panel {
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comments__panel > ul {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comments__panel__button {
    width: 30px;
    height: 30px;
    outline: none;
    border: 1px solid #BBBBBB;
    background-color: transparent;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}
.comments__panel__button_right {
    transform: rotate(180deg);
}
.comments__panel__button:focus {
    border-color: #18CFAB;
}
.comments__panel__button:hover {
    background-color: #18CFAB;
}
.comments__panel__item {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #1fdab533;
    overflow: hidden;
    opacity: 0.8;
    transition: .3s;
    cursor: pointer;
}
.comments__panel__item.active {
    margin-top: -30px;
    opacity: 1;
}
.comments__panel__item > img {
    width: 100%;
    height: 100%;
}
.comments__panel__item:hover {
    opacity: 1;
}