.header {
    height: 1012px;
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
}
.header__panel > .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.header__panel {
    background-color: rgba(94, 93, 88, 0.6);
}
.header__logo {
    width: auto;
    height: 120px;
}
.header__nav > ul {
    display: flex;
    justify-content: space-between;
}
.header__item {
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.6);
    transition: .3s;
}
.header__item:last-child {
    margin-right: 0;
}
.header__item_active {
    color: #18CFAB;
    position: relative;
}
.header__item_active::after {
    content: '';
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    height: 2px;
    background-color: #18CFAB;
}
.header__item:hover {
    color: #18CFAB;
}
.header__text {
    margin-top: 264px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.header__text > h2 {
    margin-bottom: 22px;
    font-size: 35px;
}
.header__text > h1 {
    margin-bottom: 22px;
    font-size: 78px;
}
.header__text > h3 {
    font-size: 32px;
    font-weight: 300;
}
.header__text__highlight {
    color: #18CFAB ;
}
.header__buttons {
    margin-top: 130px;
    text-align: center;
}
.header__button {
    text-transform: uppercase;
    border: none;
    outline: none;
    width: 170px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    box-shadow: 0 -5px 0px #ffffff;
    color: #ffffff;
    background-color: #18CFAB;
    transition: .3s;
    cursor: pointer;
}
.header__button:last-child {
    margin-left: 25px;
    background-color: #00CBF6;
}

.header__button:focus,
.header__button:hover {
    opacity: 0.7;
}
