.just-buy {
    height: 475px;
    margin-top: 125px;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../img/phone-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.just-buy__text {
    padding-top: 125px;
    text-align: center;
}
.just-buy__text > h2 {
    font-size: 40px;
    font-weight: 700;
    color: #18CFAB;
    text-transform: uppercase;
}
.just-buy__text > h4 {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}
.just-buy__buttons {
    margin-top: 67px;
    text-align: center;
}
.just-buy__button {
    text-transform: uppercase;
    border: none;
    outline: none;
    width: 170px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    box-shadow: 0 -5px 0px #ffffff;
    color: #ffffff;
    background-color: #18CFAB;
    transition: .3s;
    cursor: pointer;
}
.just-buy__button:focus,
.just-buy__button:hover {
    opacity: 0.7;
}