.news {
    padding-top: 90px;
    padding-bottom: 100px;
    text-align: center;
}
.news__title {
    font-weight: 400;
    position: relative;
    font-size: 35px;
    text-transform: capitalize;
}
.news__title::before,
.news__title::after {
    content: '';
    position: absolute;
    bottom: -24px;
    left: 49%;
    transform: translateX(-50%);
    width: 80px;
    height: 1px;
    background-color: #18CFAB;
}
.news__title::after {
    bottom: -28px;
    left: 50%;
}
.news__gallery {
    margin-top: 70px;
}
.news__gallery__content {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 1157px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px 35px;
}
.news__card {
    position: relative;
}
.news__image {
    width: 263px;
    height: 208px;
}
.news__mark {
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 70px;
    background-color: #203E38;
    padding-top: 10px;
    line-height: 25px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    transition: .5s;
    box-sizing: border-box;
}
.news__panel {
    width: 100%;
    padding-bottom: 10px;
    padding-left: 15px;
    text-align: left;
    border: 1px solid #F2F4F5;
    background-color: #F8FCFE;
    box-sizing: border-box;
}
.news__title-card {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #717171;
    transition: .3s;
}
.news__text-card {
    margin-top: 10px;
    font-size: 14px;
    color: #777777;
}
.news__card:hover .news__title-card {
    color: #18CFAB;
}
.news__card:hover > .news__mark {
    background-color: #18CFAB;
}