.options {
    margin-top: 5px;
    display: flex;
}
.option-card {
    width: 25%;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #1C2A33;
}
.option-card:nth-child(2n+2) {
    background-color: #18CFAB;
}
.option-card:nth-child(2n+2) svg {
    fill: #ffffff;
}
.option-card:nth-child(2n+2) > .option-card__text {
    color: #ffffff;
}
.option-card__icon {
    margin-left: auto;
    margin-right: auto;
    width: 102px;
    height: 102px;
    text-align: center;
    line-height: 102px;
}
.option-card__icon > svg {
    fill: #18cfab;
}
.option-card__text {
    font-weight: 700;
    font-size: 20px;
    color: #18cfab;
}