.our-services {
    margin-top: 90px;
    text-align: center;
}
.our-services__title {
    font-weight: 400;
    position: relative;
    font-size: 35px;
}
.our-services__title::before,
.our-services__title::after {
    content: '';
    position: absolute;
    bottom: -24px;
    left: 49%;
    transform: translateX(-50%);
    width: 80px;
    height: 1px;
    background-color: #18CFAB;
}
.our-services__title::after {
    bottom: -28px;
    left: 50%;
}
.our-services__gallery {
    margin-top: 100px;
}
.our-services__gallery__nav {
    display: flex;
    background-color: #F8FCFE;
}
.our-services__gallery__nav > li {
    text-align: center;
    font-size: 16px;
    color: #717171;
    transition: .3s;
}
.our-services__gallery__nav a {
    display: inline-block;
    border: 1px solid #EDEFEF;
    padding: 18px 39px;
    transition: .3s;
}
.our-services__gallery__nav > li.active {
    position: relative;
    color: #ffffff;
    background-color: #18CFAB;
}
.our-services__gallery__nav > li.active::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid transparent;
    border-width: 10px 12px;
    border-top-color: #18CFAB;
}
.our-services__gallery__nav > li.active > a,
.our-services__gallery__nav a:hover {
    border-color: #18CFAB;
}
.our-services__card {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}
.our-services__image {
    width: 200px;
    height: auto;
}
.our-services__text {
    margin-left: 15px;
    font-size: 14px;
    color: #777777;
    line-height: 1.7;
    text-align: left;
}