.our-work {
    padding-top: 90px;
    padding-bottom: 100px;
    text-align: center;
    background-color: #E9EDEF;
}
.our-work__title {
    font-weight: 400;
    position: relative;
    font-size: 35px;
    text-transform: capitalize;
}
.our-work__title::before,
.our-work__title::after {
    content: '';
    position: absolute;
    bottom: -24px;
    left: 49%;
    transform: translateX(-50%);
    width: 80px;
    height: 1px;
    background-color: #18CFAB;
}
.our-work__title::after {
    bottom: -28px;
    left: 50%;
}
.our-work__gallery {
    margin-top: 70px;
}
.our-work__gallery__nav {
    display: flex;
    justify-content: center;
}
.our-work__gallery__nav > li {
    text-align: center;
    font-size: 16px;
    color: #717171;
    transition: .3s;
}
.our-work__gallery__nav a {
    display: inline-block;
    border: 1px solid #dadada;
    border-right-color: transparent;
    padding: 14px 15px;
    transition: .3s;
}
.our-work__gallery__nav li:last-child > a {
    border-right-color: #dadada;
}
.our-work__gallery__nav > li.active {
    color: #18CFAB;
    border-color: #18CFAB;
}
.our-work__gallery__nav li:hover {
    border-color: #18CFAB;
}
.our-work__gallery__content {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.our-work__card {
    position: relative;
    height: 211px;
    overflow: hidden;
}
.our-work__image {
    width: 100%;
    max-height: 100%;
    height: auto;
}
.our-work__hover {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #E9EDEF;
    text-align: center;
    transition: .5s;
    transition-timing-function: ease-in-out;
}
.our-work__hover::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #18CFAB;
}
.our-work__hover-image {
    margin-top: 40px;
}
.our-work__hover-image__icon {
    display: inline-block;
    width: auto;
    height: 43px;
}
.our-work__hover-title {
    margin-top: 40px;
    font-weight: 700;
    color: #18cfab;
    font-size: 14px;
    text-transform: uppercase;
}
.our-work__hover-text {
    margin-top: 10px;
    font-size: 12px;
    color: #8A8A8A;
    text-transform: capitalize;
}
.our-work__hover:hover,
.our-work__image:hover + .our-work__hover {
    top: 0px;
}
.our-work__load-more {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 168px;
    height: 63px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #18CFAB;
    line-height: 63px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.7;
    transition: .3s;
}
.our-work__load-more > img {
    margin-right: 10px;
}
.our-work__load-more > strong,
.our-work__load-more > img {
    display: inline-block;
    vertical-align: middle;
}
.our-work__load-more:hover {
    opacity: 1;
}

