body, h1, h2, p {
	margin: 0;
}
body {
	background-color: #0e0e0e;
	overflow: hidden;
}
.wrapper {
	position: absolute;
	left: 50%;
	bottom: 0; /* для того, чтобы приклеить контейнер к низу экрана */
	width: 95%;
	height: 200vh; /* верхняя линия контейнера - на сколько далеко вдаль уходит */
	transform-origin: 50% 100%;
	transform: translateX(-50%) perspective(300px) rotateX(15deg);
	/* box-shadow: 0 0 15px #f11; !* подсветка для настройки расположения элемента *!, */
	overflow: hidden;
}
.content {
	color: #e8bf02;
	font-size: 55px;
	transform: translateY(150vh); /* откуда начинается текст */
	animation: moveText 30s linear infinite;
}
.content > h1 {
	margin-bottom: 1.2em;
	font-size: 1.7em;
	text-align: center;
	text-transform: uppercase;
}
.content > h2 {
	margin-bottom: 1.1em;
	font-size: 1.6em;
	text-align: center;
	text-transform: uppercase;
}
.content > p {
	margin-bottom: 2em;
	font-size: 1.6em;
}

@keyframes moveText {
	100% {
		transform: translateY(-120vh);
	}
}